{%extends 'base.html'%}
{%block content%}
<br>
<div class="text-center">
    <img src="{{bg}}"alt="" style="width: 100%; height: 100%;">
</div>
<div class="container">
    <h1>Welcome to the Batcave: Your Personal Chat Assistant</h1>
    <small>Unleash the power of the Batcave with our cutting-edge chat assistant application. This Batman-themed platform combines the spirit of justice with advanced technology to assist you in your information quests.</small>
    <br><br><a type="button" class="btn btn-primary" href="/register">Join now</a>
</div><br><hr>
<h1>Key Features:</h1><br>
<div class="container">
    <h1>🦇 Bard API Integration:</h1>   
    <small>Access a wealth of information at your fingertips. Our application connects to the Bard API, providing you with instant responses to your questions.</small>
</div><br>
<div class="container">
    <h1>🦇 Secure User Profiles:</h1>
    <small>Create your unique Bat-identity. Set a profile picture and protect your Gotham City identity.</small>
</div><br>
<div class="container">
    <h1>🦇 Dynamic Chat Interface:</h1>
    <small>Engage in seamless, chat-like interactions with our application. Enter your queries, and receive real-time responses.</small>
</div><br>
<div class="container">
    <h1>🦇 Explore Features:</h1>
    <small>Discover the capabilities of the Batcave. Explore a dedicated section highlighting the features and capabilities of our application.</small>
</div><br>
<div class="container">
    <h1>🦇 User Registration and Login:</h1>
    <small>Join our community of vigilant users. Register your account securely and log in to unlock the full potential of the Batcave.</small>
</div><br>
<div class="container">
    <p>Join us on this heroic journey and let the Batcave assist you in your quest for knowledge and information. Together, we'll protect Gotham City one chat at a time!</p>
    <br><b>Get started now and become a part of the Bat-family. Justice awaits!</b>
</div>
{%endblock%}
