{%extends 'base.html'%}
{%block content%}
{%if error %}
<div class="alert alert-danger">{{error}}</div>
{%endif%}
<br>
<h1>Login</h1><hr>
<form method="POST">
{%if a%}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" value="{{a['email']}}" required class="form-control" placeholder="Enter your email.." name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
{%else%}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email"  required class="form-control" placeholder="Enter your email.." name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
{%endif%}
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" placeholder="Enter your password.."required name="password"class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>
<br>
<span>Don't have an account ? <a class="text-decoration-none" href="/register">Create</a></span>
{%endblock%}
